<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174588049-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174588049-1');
</script>




    <meta charset="UTF-8">
    <title>Heartrate Leaderboard</title>
    {% block headextra %}
    {% endblock %}

    <style>
    body {
        font: 16px Verdana, sans-serif;
    }

    .dot{
        width: 52px;
        height: 52px;
        background-color: #f00;
        border-radius: 50%;
        position: fixed;
    }
    
    .predicdot{
        width: 30px;
        height: 30px;
        background-color: #ffab56;
        border-radius: 50%;
        position:fixed;
    }
    </style>

</head>
<body style="background-color:powderblue;">
{% block body %}



{% endblock %}
</body>
</html>