{% extends "base.html" %}

{% block headextra %}
<!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script src="{{url_for('static', filename='fft.js')}}"></script>
<script src="{{url_for('static', filename='copy.js')}}"></script>



{% endblock %}


{% block body %}



        <table style="width:100%">
            <tr>
                <td><canvas id="output" style="display: inline;" ></canvas></td>
                <td>
                    <h1 style="text-align: center;">Javascript Heartrate Monitor</h1>
                    <p>
                        Usage Instructions:
                        <ol>
                    <li>Place your finger directly over your device's webcam. Make sure your arm is stable (set it on a surface to prevent shaking), and make sure the live feed on the left shows a medium-dark red rectangle. If the live feed looks too dark, your ambient light might not be bright enough.</li>
                    <li>Refresh the page, and wait for either the "Predicted" box to stop saying NaN or the graph at the bottom to stabilize.</li>
                    <li>Your heartrate should display below!</li>
                        </ol>
                    </p>
                </td>
            </tr>
        </table>

        <video hidden playsinline autoplay></video>

<p id="heartrate">Calibrating...</p>


        <canvas id="myChart" height="70%"></canvas>


<h3>How it works: </h3>
<p>
    This website relies on the fact that deoxygenated blood lets through less light than oxygenated blood. By putting your finger over your device's camera, the only light you let through is what ambient light gets through your blood. By tracking the brightness of the display and running an FFT on the resulting array, we can look for peaks and convert back to get the frequency that has the highest amplitude. Since the only thing that varies is the heartrate, the highest peak of the FFT should reflect the heartrate.
</p>

<h3>For more like this: </h3>
Visit my <a href="https://andykong.org/" target="_blank">personal site</a>!

<br>

<h3>DISCLAIMER: I AM NOT A DOCTOR, I AM NOT INTENDING THIS TO BE MEDICAL ADVICE, I MAKE NO CLAIMS OF THE ACCURACY OF THIS WEBSITE'S FUNCTIONALITY. FURTHER, I HAVE NO MONEY TO SUE FOR, SO YOU REALLY SHOULDN'T. </h3>

{% endblock %}